name: Deploy MkDocs to GitHub Pages

on:
  push:
    branches:
      - main  # Runs every time you push to main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Search
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/checkout@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          pip install mkdocs-material 
          # Add any other plugins you use here

      - name: Build and Deploy
        run: |
          # This command builds the docs and pushes them to the gh-pages branch
          mkdocs 
